
 .main::before, .main::after {
    content: '';
    position: absolute;
    left: 0;
} 
 .main::before {
    clip-path: polygon(100% 33%, 0% 100%, 100% 100%); 
    clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
    background: linear-gradient(45deg, rgba(216, 46, 8, 0.085), rgba(62, 7, 189, 0.126));
    width: 100%;
    height: 100%;
} 
.main__container {
    display: flex;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.main__content {
    margin-left: 3.445rem;
}
.text {
    line-height: 45px;
    align-items: center;
    
}
.text p {
    color: var(--color-light);
    
    text-transform: uppercase;
    font-size: 22px;
}
.text h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--color-primary);
}
.icons {
    display: flex;
    
}
.icons .icon {
    margin-top: 1rem;
    margin-right: 1.4rem;
    font-size: 35px;
    cursor: pointer;
   color: var(--color-primary);
   
}
.icons .icon:hover {
    color: var(--color-white);
}
.main__img {
    clip-path: circle(34% at 40% 37%);
    cursor: pointer;
}
.main__img img {
   background: linear-gradient(#542f34,transparent);
}
.cta .btn {
    width: max-content;
    padding: 0.34rem 1rem;
    margin-top: 2rem;
    margin-right: 1rem;
    background: var(--color-bg);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    cursor: pointer;
    border-radius: 0.4rem;
    transition: var(--transition); 
   
}

@media (max-width: 1200px) {
    .text {
        white-space: nowrap;
        line-height: 30px;
   }
    .text p {
        font-size: 14px;
   }
    .text h1 {
        font-size: 30px;
   }
    .buttons button {
        padding: 8px 20px;
   }
    .icons {
        margin-right: 1rem;
   }
    .icons .icon {
        font-size: 25px;
   }
}
@media (max-width: 600px) {
    .main__content {
        margin-left: 0;
   }
    .main__container {
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
   }
    .main__img img {
        width: 210px;
   }
    .text h1 {
        font-size: 23px;
   }
    .text p {
        color: var(--color-light);
        font-size: 11px;
   }
    .icons {
        margin-left: 1.5rem;
        align-items: center;
   }
    .icons .icon {
        color: var(--color-primary);
        
   }
}

